/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/** end reset css**/
body {
	max-width: 1140px;
	margin:auto;
	font-family: 'Work Sans' ;
	font-size: 14px;
}
header {
	display: flex;
	justify-content: space-between;
	margin: 50px 0
}
section {
	margin: 50px 0
}

h1{
	display: flex;
	flex-direction: column;
	font-family: 'Syne';
	font-size: 22px;
	font-weight: 800;
	color: #B1663C
}

h1 > span {
	font-family: 'Work Sans';
	font-size:10px;
	letter-spacing: 0.1em;
;
}

h2{
	font-family: 'Syne';
	font-weight: 700;
	font-size: 30px;
	color: #1D6154
}
nav ul {
	display: flex;
	align-items: center;
	list-style-type: none;

}
nav li {
	padding: 0 10px;
	font-size: 1.2em;
}

li:hover {
	color: #B1663C;
}
#introduction {
	display: flex;
	align-items: center;
}
#introduction figure {
	flex: 1
}
#introduction img {
	display: block;
	margin: auto;
	width: 80%;
}

#introduction article {
	flex: 1
}
#introduction h2 {
	margin-bottom: 1em;
}

#introduction p {
	margin-bottom: 0.5em;
}

.portfolioRgba {
	background: rgba(0, 0, 0, 0.6);
}

#portfolio h2 {
	text-align: center;
	margin-bottom: 1em;
}
.gallery {
	width: 100%;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-column-gap: 20px;
	grid-row-gap: 20px;
}

.gallery img {
	width: 100%;

}
#contact {
	width: 50%;
margin: auto;
}
#contact > * {
	text-align: center;

}
#contact h2{
	margin-bottom: 20px;
}
#contact form {
	text-align: left;
	margin-top:30px;
	display: flex;
	flex-direction: column;
}

#contact input {
	height: 50px;
	font-size: 1.2em;
	border: none;
	box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}
#contact label {
	margin: 2em 0 1em 0;
}
#contact textarea {
	border: none;
	box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}

input[type="submit"]{
	font-family: 'Syne';
	font-weight: 700;
	color: white;
	background-color: #1D6154;
	margin : 2em auto ;
	width: 180px;
	text-align: center;
	border-radius: 60px ;
}

footer nav ul {
	display: flex;
	justify-content: flex-end;
	margin: 2em
}

#triProjets {
	display: flex;
	justify-content: center;
	gap : 20px;
}

#Projets .catFiltre {
	flex : 1;
} 

.catFiltre {
	margin-top: 7px;
} 


label {
	margin-right: 5px;
}

/* -------------------------------------- ********************* -------------------------------- */
/* -------------------------------------- Gestion Fenetre Login -------------------------------- */
/* -------------------------------------- ********************* -------------------------------- */

#connexion {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

#connexion h2 {
    flex : 1;
    justify-content: center;
	color: #01796F;
}

#connexion h3 {
    flex : 1;
    justify-content: center;
	font-size: 10px;
	font-weight: 100;
}

#connexion h3 a:hover{
	color: #01796F;
	text-decoration: underline;
}

input[type="submit"] {
    display: flex;
	color: white;
	padding: 8px 0;
	font-size: 10px;
	width: 138px;
	background-color: #01796F;
}

#connexion h2,
input[type="email"],
input[type="submit"],
input[type="password"] {
	margin-bottom: 20px;
}

input[type="email"],
input[type="password"] {
    width: 280px;
}

.form-group {
    flex: 1;
}

.form-group input {
	border: 1px solid wheat;
	border-radius: 4px;
	font-size: 14px;
  }

  form {
    flex : 1;
  }

  #errorMessage {
	color: red;
	font-size: 14px;
	margin-top: 10px;
  }
/* -------------------------------------- ********************* -------------------------------- */
/* -------------------------------------- Gestion Fenetre Modal -------------------------------- */
/* -------------------------------------- ********************* -------------------------------- */

  .fas, .fa-edit {
	font-size: 15px;
  }

  .editer {
	margin-top: 10px;
  }

  .modEntete {
	width : 100%;
	height: 50px;
	display: flex;
	justify-content: center;
	align-items: center;
	color: #fff;
	background:  rgba(0, 0, 0, 0.98); 
  }

  .modEdit {
	display: flex;
	padding: 5px 0;
  }

  .editColor {
	color: #000;
  }

  #spanEdit {
	 font-size: 14px;
	 margin-left: 8px;
  }

.interval {
	margin-bottom: 150px;
}

#boiteModal {
	width: 90%;
	height: 100%;
	display: flex;
	margin-top: 38px; 
	margin-left: 38px;
	visibility: hidden;
	flex-direction: column;
	flex-direction: row;
	justify-content: center;
	/*max-width : calc(100vw-20px);
	max-height : calc(100vh-20px);*/
	padding-left: 20px;
	padding-right:20px;
	box-sizing: border-box;
	position: absolute;
	top: 550px;
	left: 0; 
	 
}

.editModal	{
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	gap : 20px 
}

.supGallery {
	display: flex;
	flex-direction: column;
	width: 50%;
	height: 200px;
	border: 1px blue solid;
}
.supGallery h1  {
	padding: 12px 0;
	margin-bottom: 8px;
	text-align: center;
}

.addPhoto {
	display: flex;
	flex-direction: column;
	width: 30%;
	height: 200px;
	border: 1px black solid;
}

.addPhoto  h1  {
	padding: 12px 0;
	margin-bottom: 8px;
	text-align: center;
}

.croix {
	 width:90%;
	 height: 50px;
}

.croix a {
	position: absolute;
	top:5px;
	right: 15px;
	font-weight: 700;
	padding :10px 0;
}

.galerie img {
	width: 100%;

}

.galerie {
	display: grid;
	grid-template-columns: repeat(4, 1fr); /* 4 colonnes */
	gap: 10px;
	padding: 10px;
}
.boite-container {
	position: relative;
	width: 100%;
	height: 0;
	padding-bottom: 100%; /* Ratio 1:1 pour les images carrées */
	overflow: hidden;
	background-color: #f0f0f0; /* Couleur de fond en cas d'absence d'image */
}
.boite-container img {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	object-fit: cover; /* Assure que l'image remplit bien le conteneur */
}
.fa-trash-can {
	position: absolute;
	top: 5px;
	right: 5px;
	color: red;
	cursor: pointer;
	background: rgba(255, 255, 255, 0.8); /* Fond semi-transparent */
	padding: 5px;
	border-radius: 25%;
	font-size: 14px;
}

  